//
//  release.xcconfig
//  Cryptiz
//
//  Created by Teddy Juhlin-Henricson on 2024-02-21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_ICON = AppIcon

// MARK: Add your own API key and BASE URL after creating an account at coinmarketcap.com
API_KEY = b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c
BASE_URL = https:\/\/sandbox-api.coinmarketcap.com
