//
//  release.xcconfig
//  Cryptiz
//
//  Created by Teddy Juhlin-Henricson on 2024-02-21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_ICON = AppIcon

// MARK: Add your own API key and BASE URL after creating an account at coinmarketcap.com
API_KEY = <Add your api key here>
BASE_URL = https:\/\/pro-api.coinmarketcap.com
